---
title: Lectures
layout: home
category: lectures
slug: lectures
permalink: /lectures/lectures
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='lectures' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign mCategories = "lectures|lectures|common-information" | split: "|" %}
            {% include cards/jmy-section-cards.html section='lectures' sub='lectures' title='Common information' categories=mCategories %}
            {% assign mCategories = "lectures|lectures|morning-seminar-guide" | split: "|" %}
            {% include cards/jmy-section-cards.html section='lectures' sub='lectures' title='Guide for morning seminar' categories=mCategories %}
            {% assign mCategories = "lectures|lectures|external-seminar-guide" | split: "|" %}
            {% include cards/jmy-section-cards.html section='lectures' sub='lectures' title='Guide for external seminar' categories=mCategories %}
        </div>
    </div>
</div>
