---
title: Morning Seminar (04-18-2019)
layout: home
category: seminars
slug: 04-18-2019-morning-seminar
permalink: /seminars/04-18-2019-morning-seminar
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='seminars' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign mCategories = "seminars|04-18-2019-morning-seminar" | split: "|" %}
            {% include cards/jmy-section-cards.html section='seminars' sub='04-18-2019-morning-seminar' title='1st UCSLab Morning Seminar (04-18-2019)' categories=mCategories %}
        </div>
    </div>
</div>
