---
title: 1st Morning Seminar
layout: home
category: seminars
slug: 1-morning-seminar
permalink: /seminars/1-morning-seminar
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='seminars' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign mCategories = "seminars|1-morning-seminar" | split: "|" %}
            {% include cards/jmy-section-cards.html section='seminars' sub='1-morning-seminar' title='1st Morning Seminar' categories=mCategories %}
        </div>
    </div>
</div>
