---
title: Guides For Seminars
layout: home
category: seminars
slug: guides-for-seminars
permalink: /seminars/guides-for-seminars
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='seminars' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign mCategories = "seminars|guides-for-seminars|morning-seminar-guide" | split: "|" %}
            {% include cards/jmy-section-cards.html section='seminars' sub='guides-for-seminars' title='Guide for morning seminar' categories=mCategories %}
            {% assign mCategories = "seminars|guides-for-seminars|external-seminar-guide" | split: "|" %}
            {% include cards/jmy-section-cards.html section='seminars' sub='guides-for-seminars' title='Guide for external seminar' categories=mCategories %}
        </div>
    </div>
</div>
