---
title: Morning Seminar
layout: home
category: seminars
slug: morning-seminar
permalink: /seminars/morning-seminar
---
<div class="panel main">
    <div class="panel left">
        {% include sidebar/sub-section-home.html section='morning-seminar' sub=page.slug %}
    </div>
    <div class="panel middle">
        <div class="grid grid-responsive-12">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% assign Categories = "seminars|morning-seminar" | split: "|" %}
            {% include cards/jmy-section-cards.html section='seminars' sub='morning-seminar' title='Presentations' categories=Categories %}
        </div>
    </div>
</div>
